@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Azeret Mono", monospace;
    text-decoration: none;
    list-style: none;
    background: rgb(255, 255, 255);
}

.hero-section {
    width: 1440px;
    height: 652px;
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-section .hero-content {
    width: 998px;
    height: 582px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section .hero-content .hero-image {
    width: 240.28px;
    height: 240px;
    margin-bottom: 20px;
}

.hero-section .hero-content .text-content {
    width: 998px;
    height: 212px;
}

.hero-section .hero-content .text-content .hero-title {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    margin: 0 0 20px;
}

.hero-section .hero-content .text-content .hero-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    margin: 0 0 20px;
}

.hero-section .hero-content .hero-button {
    width: 208px;
    height: 66px;
    background: rgb(13, 19, 33);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 21px 24px;
    margin: 32px 0;
    cursor: pointer;
}

.why-web-development {
    width: 1140px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 75px auto;
}

.why-web-development .web-content {
    width: 946px;
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto 0;
}

.why-web-development .web-content .title-area {
    width: 852px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.why-web-development .web-content .title-area .web-title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
}

.why-web-development .web-content .title-area .web-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin: 24px 0px;
}

/* Reason 01 start  */

.why-web-development .web-content .reason-01 {
    width: 946px;
    height: 336px;
    margin: 32px 0;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(90deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reason-01 .reason-01-content {
    width: 850px;
    height: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reason-01-text-and-button {
    width: 477px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.reason-01-title-desc {
    width: 477px;
    height: 140px;
    text-align: left;
}

.reason-01-title-desc .reason-01-title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
}

.reason-01-title-desc .reason-01-desc {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-top: 16px;
}

.reason-01-button {
    width: 150px;
    height: 48px;
    padding: 12px 20px;
    margin-top: 32px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    background: none;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}

.reason-01-img {
    width: 260px;
    height: auto;
}

 /* Reason 02 start  */

 .why-web-development .web-content .reason-02 {
    width: 946px;
    height: 336px;
    margin: 32px 0;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reason-02 .reason-02-content {
    width: 850px;
    height: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reason-02-text-and-button {
    width: 477px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.reason-02-title-desc {
    width: 477px;
    height: 140px;
    text-align: left;
}

.reason-02-title-desc .reason-02-title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
}

.reason-02-title-desc .reason-02-desc {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-top: 16px;
}

.reason-02-button {
    width: 150px;
    height: 48px;
    padding: 12px 20px;
    margin-top: 32px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    background: none;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}

.reason-02-img {
    width: 260px;
    height: auto;
}

/* Reason 03 start  */

.why-web-development .web-content .reason-03 {
    width: 946px;
    height: 336px;
    margin-top: 32px;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(90deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reason-03 .reason-03-content {
    width: 850px;
    height: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reason-03-text-and-button {
    width: 477px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.reason-03-title-desc {
    width: 477px;
    height: 140px;
    text-align: left;
}

.reason-03-title-desc .reason-03-title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
}

.reason-03-title-desc .reason-03-desc {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-top: 16px;
}

.reason-03-button {
    width: 150px;
    height: 48px;
    padding: 12px 20px;
    margin-top: 32px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    background: none;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}

.reason-03-img {
    width: 260px;
    height: auto;
}

